#zmodule ohmyzsh/ohmyzsh --root plugins/vi-mode
#zmodule jeffreytse/zsh-vi-mode
zmodule input

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions #--fpath src
# Enables and configures smart and extensive tab completion.
# completion must be sourced after all modules that add completion definitions.
zmodule completion

# The zimfw/fzf config
#zmodule fzf

# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search
#zmodule skywind3000/z.lua --on-pull 'lua z.lua --init zsh enhanced once echo fzf >| init.zsh'
# Note that zsh-syntax-highlighting must be the last plugin sourced.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
