// https://github.com/niri-wm/niri/wiki/Configuration:-Miscellaneous

// Also ask windows to omit client-side decorations, so that
// they don't draw their own window shadows.
prefer-no-csd true

// The path is formatted with strftime(3) to give you the screenshot date and time.
// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// You can also set this to null to disable saving screenshots to disk.
screenshot-path null

// Note that these variables do not propagate to the systemd global environment
// In particular, if you start a desktop shell like DankMaterialShell through systemd, 
// then use its built-in application launcher, the apps won't see these environment variables.
// If you want all processes to see the environment variables, you can set them in your login shell config instead (i.e. ~/.bash_profile). The niri-session shell script runs through the login shell and imports all environment variables to systemd before starting niri. Keep in mind that all compositors will see variables set in the login shell, not just niri.
// alternatively, use autostart `dbus-update-activation-environment --systemd {ENV_VAR}` to inject env vars to systemd and dbus env
environment {
    // Keep terminal launches centralized so keybinds/autostarts only need one change.
    TERMINAL "kitty"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    // xcursor-size 24
    // hide-when-typing
    // Hide the cursor after one second of inactivity.
    hide-after-inactive-ms 1000
}

overview {
    zoom 0.25
    // backdrop-color "#caafb7"
    workspace-shadow {
        off
    }
}

clipboard {
    // disable-primary
}

// hotkey help overlay
hotkey-overlay {
    skip-at-startup
    // hide-not-bound
}
