// https://yalter.github.io/niri/Configuration:-Recent-Windows.html
recent-windows {
    previews {
        // Smaller Alt-Tab previews.
        // max-height 320
        max-height 140
        // max-scale 0.1
    }
}
