// https://github.com/niri-wm/niri/wiki/Configuration:-Window-Rules

// You can find the title and the app ID of a window by running niri msg pick-window

window-rule {
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
    // Keep utility windows floating.
    // Includes 1Password (and Quick Access) and GoldenDict.
    match app-id=r#"(?i)^1password(-quickaccess)?$"#
    match app-id=r#"(?i)goldendict"#
    // Open DMS windows as floating by default
    // match app-id=r#"org.quickshell$"#
    open-floating true
    focus-ring {
        off
    }
    border {
        off
    }
}

window-rule {
    // Focus the keyring unlock prompt when it appears.
    match app-id=r#"(?i)^gcr-prompter$"#
    match title=r#"(?i)unlock keyring$"#
    // open-floating true
    open-focused true
}

window-rule {
    // Steam notification windows: float and position at bottom-right.
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    // Open Steam's main window on the dedicated game workspace.
    match app-id="steam"
    open-on-workspace "game"
}

// window-rule {
//     // Fcitx5 indicator/candidate windows: float without focus ring/border.
//     // Fcitx5 window should not steal focus.
//     match app-id=r#"(?i)^fcitx$"# title="^Fcitx5 Input Window$"
//     // open-floating true
//     open-focused false
//     // focus-ring {
//     //     off
//     // }
//     // border {
//     //     off   
//     // }
// }

window-rule {
    match is-active=false
    // opacity 0.9
}

window-rule {
    match is-floating=true
    focus-ring {
        off
    }
    border {
        on
        // active-color "transparent"
    }
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// Games
window-rule {
    match app-id=r#"^steam_app_[0-9]+$"#
    match app-id=r#"\.exe$"#
    open-floating true
}

layer-rule {
    // dms: Tell niri to place the wallpaper on the overview.
    match namespace="^quickshell$"
    
    match namespace="^noctalia-wallpaper"

    place-within-backdrop true
}
