**/.DS_Store

# Ignore Alfred cache directories
alfred/Alfred.alfredpreferences/workflows/*/[Cc]aches/
alfred/Alfred.alfredpreferences/workflows/*/[Cc]ache/

# Ignore Alfred workflow logs
alfred/Alfred.alfredpreferences/workflows/*/[Ll]ogs/
alfred/Alfred.alfredpreferences/workflows/*/[Ll]og/