[Desktop Entry]
Exec=flatpak run io.github.xiaoyifang.goldendict_ng $(if [ "$XDG_SESSION_TYPE" == "wayland" ]; then wl-paste; else xclip -o; fi)
Name=goldendict-search
# NoDisplay=true
StartupNotify=false
Type=Application
Categories=Utility;
